{% extends 'user/userbase.html' %}
{% block content %}
{% load static %}
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
    <style media="screen">
      a:link {
        text-decoration: none;
      }
  
      h6 {
        text-align: center;
      }
  
      .row {
        margin: 100px;
      }
      #panel2{
        background: #2f323a;
      }
      #panel{
        border-color: #2f323a;
      }

      th, tr {
        text-align: center;
      }
    </style>
  
</head>
    <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h6 class="panel-title">Ranking</h6>
          </div>
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>          
                <th>Usuario</th>
                <th>Puntaje total</th>
              </tr>
            </thead>
            {% for l in lista %}
              <tr>
              {% for key, value in l.items %}
                <td>{{value}}</td>
              {% endfor %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
{% endblock %}